body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}
#Container{
    width: 970px;
    padding: 10px;
    justify-content: center;
}
h1{
    width: 950px;
    padding: 10px;
    text-align: center;
    background-color: powderblue;
    border: rosybrown;
}
h2{
    width: 950px;
    padding: 10px;
    background-color: seagreen;
}
img{
    border: 5px dotted tomato;
}
#Riddles{
    padding: 15px;
}